<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>REGISTRO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
        </header>
        <main class="register">
            <form action="/" method="POST">
                
                <input type="text" name="name" placeholder="Nombre y apellido" class="name" >
                <input type="text" name="user" placeholder="Nombre de usuario" class="user">
                <input type="email" name="email" placeholder="E-mail"class="email">

                <br>
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input type="date" name="birth_date" id="birth_date" class="cumple1">
                <br>
                <input type="text" name="addres" placeholder="Domicilio"class="domicilio">
                     
                <input type="password" name="pass" placeholder="Elegí tu contraseña" class="contraseña1">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="contraseña2">
                <br>
                <br>
                
                <input type="submit" value="Enviar" class="botonenviarregistro">
                <input type="reset" value="Borrar" class="botonborrar">
                <br>
                <br>
            </form>
        </main>
        <footer>
        </footer>
    </body>
</html>