@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
.logo {
    color: #fff;
    font-weight: bold;
    text-align: left;
    width: 10%;
    float: left;
    margin-top: 40px;
    letter-spacing: 4px;
}
.how_to_title   {
    width: 97%;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #008600;
    font-size: xx-large;
    margin-left: 20px;
}

/* Navigation */
header {
    width: 100%;
    height: 5%;
    background-color: #008600;
    border-bottom: 1px solid #2C9AB7;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
    color: #008600;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;
    font-size: xx-large;
}
/* Hero Section */
.hero {
    background-color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 70px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* About Section */
.text_column {
    width: 23%;
    text-align: justify;
    font-weight: normal;
    line-height: 25px;
    float: left;
    padding-right: 20px;
    color: #000000;
    font-size: large;
}
.about {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 0px;
}
/* Stats Gallery */
.stats {
    color: #717070;
    margin-bottom: 5px;
    float: none;
    border-spacing: 0px 0;
    border-collapse: collapse;
    background-repeat: no-repeat;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
    background-color: #FFFFFF;
    background-image: url(../images/parallax.png);
    height: 350px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax {
    color: #008600;
    text-align: right;
    padding-right: 60px;
    padding-top: 50px;
    letter-spacing: 3px;
    margin-top: 0px;
}
.parallax_description {
    color: #000000;
    text-align: right;
    padding-right: 100px;
    width: 60%;
    float: right;
    font-weight: lighter;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 15px;
}

.parallax_description2 {
    color: #000000;
    text-align: right;
    padding-right: 100px;
    width: 60%;
    float: right;
    font-weight: lighter;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 15px;
}

.parallax_description3 {
    color: #000000;
    text-align: right;
    padding-right: 100px;
    width: 60%;
    float: right;
    font-weight: lighter;
    line-height: 23px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 15px;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

	:root{
		--facebook: #3b5999;
		--instagram: #e4405f;
		--twitter: #55acee;
		--pinterest: #bd081c;
}	

.redes-container {
	display: flex;
	height:  100vh;
	align-items: center;
	justify-content: center;
}

.redes-container ul li{
	display: inline-block;
	margin: 0 10px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.redes-container ul li a{
	display: block;
	padding: 0 10px;
	background: #333;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
	transition: .2s;
}

.redes-container ul:hover a{
	filter: blur(2px)	
}

.redes-container ul li a:hover {
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
	filter: none;
}

.redes-container ul li .facebook:hover{
	background: var(--facebook);
}

.redes-container ul li .instagram:hover{
	background: var(--instagram);
}

.redes-container ul li .twitter:hover{
	background: var(--twitter);
}

.redes-container ul li .pinterest:hover{
	background: var(--pinterest);
}


/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
    width: 270px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #008600;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
}
.footer_banner {
    background-color: #739E73;
    padding-top: 60px;
    padding-bottom: 60PX;
    margin-bottom: 0px;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

.container #howto .how_to_title {
    margin-top: 25px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}



/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}

nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}

/* INICIO STYLE REGISTER/LOGIN */

.login { display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px;;
	}

.usuario,
.contrase単a,
.boton-enviar {width: 270px;
		margin-top: 10px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		text-align: center;
		vertical-align: middle;
		border-radius: 0px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 2px;
		border: 3px solid #008600;
		color: #FFFFFF;
		transition: all 0.3s linear;
		justify-content: space-around;
		}

		main form input {
			border: none;
			text-align: center;
			font-family: source-sans-pro;
			font-style: normal;
			font-weight: 200;
			font-size: large

		}

		.olvidocontrase単a {display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			padding: 15px;;

		}

	.name,
	.user,
	.email,
	.cumple1,
	.domicilio,
	.contrase単a1,
	.contrase単a2,
	.botonenviarregistro,
	.botonborrar	 { 
		width: 270px;
			margin-top: 10px;
			margin-right: auto;
			margin-bottom: 0px;
			margin-left: auto;
			padding-top: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			text-align: center;
			vertical-align: middle;
			border-radius: 0px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			border: 3px solid #008600;
			color: #008600;
			transition: all 0.3s linear;
			display: flex;
			flex-direction: column;
			align-items: center;

			
	}

	.iniciasesion {display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 15px;;

	}

	.nacimiento{display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		margin:0px

	}